.profile-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}

.profile-heading {
  padding: 20px;
  color: rgb(255, 255, 255); 
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.user-info {
  margin-bottom: 30px;
}

.user-info-item {
  font-size: 18px;
  color: rgb(255, 255, 255);  
  margin-bottom: 10px;
}


.orders-heading {
  margin-top: 40px;
  font-size: 24px;
  color: rgb(255, 255, 255); 
  text-align: center;
}


.order-card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.50);
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  
}


.order-detail {
  font-size: 16px;
  color: rgb(255, 255, 255); 
  margin-bottom: 8px;
}


.order-items {
  list-style-type: none;
  padding-left: 0;
}

.order-item {
  font-size: 14px;
  color: rgb(255, 255, 255); 
}


.no-orders {
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255); 
}
